!!!
%html
  %head
    %title Welcome to yamx
  %body
    %h1 YAMX
    %p
      YAMX is simple management extension that can be used for checking status
      of all your apps.  Its build using REST-style API integration between apps
      and the management server.

